</br>


<br>
<h1>Group Name - Phone</h1>


Plan:   <select name="products" ng-init="groups.newProduct = groups.packageData[0]"
                ng-model="groups.newProduct"
                ng-options="product.name group by product.frequency for product in groups.packageData">
</select>
</br>
Mode:  <select name="products" ng-init="groups.newProduct = groups.packageData[0]"
               ng-model="groups.newProduct"
               ng-options="product.name group by product.frequency for product in groups.packageData">
</select>
</br>
call handle:  <select name="products" ng-init="groups.newProduct = groups.packageData[0]"
                      ng-model="groups.newProduct"
                      ng-options="product.name group by product.frequency for product in groups.packageData">
</select>
</br>


<label>prompts <input type="checkbox" ng-model="showPrompt" /></label><br />


</br>
<span ng-show='showPrompt'>
welcome:
</br>
Goodbye:
</br>
info:
</br>
response:
</span>
</br>

<button ng-click="groups.deleteGroup(group)">delete</button>


</article>



