<br>


<br>
<h1>Group Name - Phone</h1>


Plan:   <select name="products" ng-init="groups.newProduct = groups.packageData[0]"
                ng-model="groups.newProduct"
                ng-options="product.name group by product.frequency for product in groups.packageData">
</select>
<br>
mode:  <select name="modes" ng-init="groups.newMode = groups.modeData[0]"
                       ng-model="groups.newMode"
                       ng-options="mode.label  for mode in groups.modeData">
</select>
<br>
call handle: <select name="handles" ng-init="groups.newHandle = groups.callHandleData[0]"
                     ng-model="groups.newHandle"
                     ng-options="handle.label  for handle in groups.callHandleData">
</select>


<br>
<br>



<label>prompts <input type="checkbox" ng-model="groups.showPrompt" /></label><br />

<article>

<br>
<span ng-show='groups.showPrompt'>
welcome:
<br>
Goodbye:
<br>
info:
<br>
response:
</span>
<br>

</article>
<button ng-click="groups.deleteGroup(group)">delete</button>






